.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.charList {
  padding-top: 25px;
  list-style-type: none;
  font-family: monospace;
}

.charCard {
  border-radius: 20%;
  width: 30%;
  border-style: groove;
  border-color: #2d444ca8;
  font-family: monospace;
}

.characterView {
  padding-top: 30px;
  padding-inline-start: 40px;
}

.charInfo {
  list-style-type: none;
  padding-inline-start: 0px;
}

.searchSuggestions {
  padding-top: 25px;
}

.searchBox {
  margin-left: 40px;
  width: 125px;
  margin-bottom: 25px;
}

.suggestionList {
  list-style-type: bengali;

  padding-inline-start: 40px;
}

.charContainer {
  background-color: #131212e3;
  color: blanchedalmond;
  width: 90vw;
  border-radius: 2%;
  height: 100%;
}

.mainArea {
  height: 50vw;
  color: white;

  text-align: -webkit-center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
